<h1 style="color: brown;">1. Importing Libraries and Configuring Display Options</h1>

In [1]:
# Data manipulation and visualization
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Machine Learning Models
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.gaussian_process import GaussianProcessRegressor

# Evaluation
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import time
from sklearn.model_selection import cross_validate
from itertools import product

## Customizing DataFrame Output Formatting
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.3f}'.format)

<h1 style="color: brown;">2. Exploring Dataset</h1>

<h2 style="color: purple;">2.1 Loading Used Car Dataset</h2>

In [2]:
df = pd.read_csv('cars_data_clean.csv')

<h2 style="color: purple;">2.2 Displaying Dataset Dimensions</h2>

In [3]:
print(f'The data has {df.shape[0]} rows and {df.shape[1]} columns.')

The data has 37813 rows and 66 columns.

<h2 style="color: purple;">2.3 Displaying All Column Names</h2>

In [4]:
# Get all column names from df
all_column_names = df.columns

# Display columns with numbered list
print("All Columns:")
for idx, col in enumerate(all_column_names, start=1):
    print(f"{idx}. {col}")

All Columns:
1. usedCarSkuId
2. loc
3. myear
4. body
5. transmission
6. fuel
7. km
8. ip
9. images
10. imgCount
11. threesixty
12. dvn
13. oem
14. model
15. variant
16. City
17. listed_price
18. discountValue
19. utype
20. carType
21. top_features
22. comfort_features
23. interior_features
24. exterior_features
25. safety_features
26. Color
27. Engine Type
28. No of Cylinder
29. Valves per Cylinder
30. Valve Configuration
31. Turbo Charger
32. Super Charger
33. Length
34. Width
35. Height
36. Wheel Base
37. Front Tread
38. Rear Tread
39. Kerb Weight
40. Gross Weight
41. Gear Box
42. Drive Type
43. Seats
44. Steering Type
45. Turning Radius
46. Front Brake Type
47. Rear Brake Type
48. Top Speed
49. Acceleration
50. Tyre Type
51. Doors
52. Cargo Volume
53. model_type_new
54. state
55. exterior_color
56. owner_type
57. Fuel Suppy System
58. Compression Ratio
59. Alloy Wheel Size
60. Ground Clearance Unladen
61. Max Power Delivered
62. Max Power At
63. Max Torque Delivered
64. Max Torque At
65. Bore
66. Stroke

<h2 style="color: purple;">2.4 Identify Numeric and Non-Numeric Features</h2>

In [5]:
numeric_column_names = df.select_dtypes(include='number').columns
non_numeric_column_names = df.select_dtypes(exclude='number').columns

# Organize the columns in a dictionary for clear display
columns_dict = {
    "Numeric Columns": list(numeric_column_names),
    "Non-Numeric Columns": list(non_numeric_column_names)
}

# Print dictionary in a readable format with numbered lists and unique value counts
for category, columns in columns_dict.items():
    print(f"{category}:")
    for idx, col in enumerate(columns, start=1):
        unique_values_count = df[col].nunique()  # Count unique values
        print(f"  {idx}. {col} (Unique Values: {unique_values_count})")
    print()  # Add an empty line between categories

Numeric Columns:
  1. myear (Unique Values: 34)
  2. km (Unique Values: 23863)
  3. ip (Unique Values: 2)
  4. imgCount (Unique Values: 54)
  5. listed_price (Unique Values: 6865)
  6. discountValue (Unique Values: 30)
  7. No of Cylinder (Unique Values: 11)
  8. Valves per Cylinder (Unique Values: 7)
  9. Length (Unique Values: 411)
  10. Width (Unique Values: 276)
  11. Height (Unique Values: 300)
  12. Wheel Base (Unique Values: 219)
  13. Front Tread (Unique Values: 156)
  14. Rear Tread (Unique Values: 173)
  15. Kerb Weight (Unique Values: 539)
  16. Gross Weight (Unique Values: 288)
  17. Seats (Unique Values: 11)
  18. Turning Radius (Unique Values: 75)
  19. Top Speed (Unique Values: 190)
  20. Acceleration (Unique Values: 243)
  21. Doors (Unique Values: 5)
  22. Cargo Volume (Unique Values: 203)
  23. Compression Ratio (Unique Values: 61)
  24. Alloy Wheel Size (Unique Values: 11)
  25. Ground Clearance Unladen (Unique Values: 26)
  26. Max Power Delivered (Unique Values: 570)
  27. Max Power At (Unique Values: 50)
  28. Max Torque Delivered (Unique Values: 330)
  29. Max Torque At (Unique Values: 111)
  30. Bore (Unique Values: 67)
  31. Stroke (Unique Values: 21)

Non-Numeric Columns:
  1. usedCarSkuId (Unique Values: 37813)
  2. loc (Unique Values: 397)
  3. body (Unique Values: 11)
  4. transmission (Unique Values: 2)
  5. fuel (Unique Values: 5)
  6. images (Unique Values: 37135)
  7. threesixty (Unique Values: 2)
  8. dvn (Unique Values: 4128)
  9. oem (Unique Values: 46)
  10. model (Unique Values: 382)
  11. variant (Unique Values: 3430)
  12. City (Unique Values: 617)
  13. utype (Unique Values: 2)
  14. carType (Unique Values: 3)
  15. top_features (Unique Values: 400)
  16. comfort_features (Unique Values: 2016)
  17. interior_features (Unique Values: 527)
  18. exterior_features (Unique Values: 1893)
  19. safety_features (Unique Values: 2116)
  20. Color (Unique Values: 747)
  21. Engine Type (Unique Values: 566)
  22. Valve Configuration (Unique Values: 5)
  23. Turbo Charger (Unique Values: 2)
  24. Super Charger (Unique Values: 2)
  25. Gear Box (Unique Values: 11)
  26. Drive Type (Unique Values: 6)
  27. Steering Type (Unique Values: 2)
  28. Front Brake Type (Unique Values: 6)
  29. Rear Brake Type (Unique Values: 6)
  30. Tyre Type (Unique Values: 4)
  31. model_type_new (Unique Values: 1)
  32. state (Unique Values: 33)
  33. exterior_color (Unique Values: 747)
  34. owner_type (Unique Values: 6)
  35. Fuel Suppy System (Unique Values: 14)

<h2 style="color: purple;">2.5 Displaying First 5 Rows of the Dataset</h2>

In [6]:
pd.set_option('display.max_columns', None)
df.head(5)

,usedCarSkuId,loc,myear,body,transmission,fuel,km,ip,images,imgCount,threesixty,dvn,oem,model,variant,City,listed_price,discountValue,utype,carType,top_features,comfort_features,interior_features,exterior_features,safety_features,Color,Engine Type,No of Cylinder,Valves per Cylinder,Valve Configuration,Turbo Charger,Super Charger,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Gear Box,Drive Type,Seats,Steering Type,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,Doors,Cargo Volume,model_type_new,state,exterior_color,owner_type,Fuel Suppy System,Compression Ratio,Alloy Wheel Size,Ground Clearance Unladen,Max Power Delivered,Max Power At,Max Torque Delivered,Max Torque At,Bore,Stroke
0,7111bf25-97af-47f9-867b-40879190d800,gomti nagar,2016,hatchback,manual,cng,69162,0,[{'img': 'https://images10.gaadi.com/usedcar_i...,15,False,maruti wagon r lxi cng,maruti,maruti wagon r,lxi cng,lucknow,370000,0,dealer,corporate,"['power steering', 'power windows front', 'air...","['power steering', 'power windows front', 'rem...","['air conditioner', 'heater', 'digital odomete...","['adjustable head lights', 'manually adjustabl...","['centeral locking', 'child safety locks', 'da...",silver,k10b engine,3.000,4.000,dohc,False,False,3599.000,1495.000,1700.000,2400.000,1295.000,1290.000,960.000,1350.000,5 speed,fwd,5.000,power,4.600,ventilated disc,drum,137.000,15.900,tubeless,5.000,180.000,used,uttar pradesh,silver,first,NaN,NaN,NaN,NaN,58.160,6200.000,77.000,3500.000,69.000,NaN
1,c309efc1-efaf-4f82-81ad-dcb38eb36665,borivali west,2015,hatchback,manual,cng,45864,0,[{'img': 'https://images10.gaadi.com/usedcar_i...,15,False,maruti celerio green vxi,maruti,maruti celerio,green vxi,mumbai,365000,0,dealer,corporate,"['power steering', 'power windows front', 'air...","['power steering', 'power windows front', 'pow...","['air conditioner', 'heater', 'digital odomete...","['adjustable head lights', 'manually adjustabl...","['centeral locking', 'child safety locks', 'da...",grey,k10b engine,3.000,4.000,dohc,False,False,3600.000,1600.000,1560.000,2425.000,1420.000,1410.000,915.000,1350.000,5 speed,fwd,5.000,power,4.700,ventilated disc,drum,150.000,15.050,tubeless radial,5.000,235.000,used,maharashtra,grey,first,Gasoline Port Injection,11.000,NaN,NaN,58.200,6000.000,78.000,3500.000,73.000,NaN
2,7609f710-0c97-4f00-9a47-9b9284b62d3a,jasola,2015,sedan,manual,cng,81506,0,[{'img': 'https://images10.gaadi.com/usedcar_i...,15,False,honda amaze s plus i-vtec,honda,honda amaze,s plus i-vtec,new delhi,421000,0,dealer,corporate,"['power steering', 'power windows front', 'air...","['power steering', 'power windows front', 'pow...","['air conditioner', 'heater', 'adjustable stee...","['adjustable head lights', 'power adjustable e...","['centeral locking', 'power door locks', 'chil...",silver,i-vtec petrol engine,4.000,4.000,sohc,False,False,3990.000,1680.000,1505.000,2405.000,NaN,NaN,950.000,NaN,5 speed,fwd,5.000,power,4.500,disc,drum,160.000,15.000,tubeless radial,4.000,400.000,used,delhi,silver,second,NaN,NaN,NaN,NaN,86.700,6000.000,109.000,4500.000,NaN,NaN
3,278b76e3-5539-4a5e-ae3e-353a2e3b6d7d,jasola,2013,hatchback,manual,cng,115893,0,[{'img': ''}],0,False,maruti wagon r lxi cng,maruti,maruti wagon r,lxi cng,new delhi,240000,0,dealer,corporate,"['power steering', 'power windows front', 'air...","['power steering', 'power windows front', 'low...","['air conditioner', 'heater', 'electronic mult...","['adjustable head lights', 'manually adjustabl...","['centeral locking', 'child safety locks', 'da...",silver,k series petrol engine,3.000,4.000,NaN,False,False,3595.000,1475.000,1700.000,2400.000,1295.000,1290.000,960.000,1350.000,5 speed,fwd,5.000,power,4.600,ventilated disc,drum,NaN,NaN,tubeless radial,4.000,NaN,used,delhi,silver,second,Multi-Point Fuel Injection,NaN,13.000,NaN,58.200,6200.000,77.000,3500.000,NaN,NaN
4,b1eab99b-a606-48dd-a75b-57feb8a9ad92,mumbai g.p.o.,2022,muv,manual,cng,18900,0,[{'img': 'https://images10.gaadi.com/usedcar_i...,6,False,maruti ertiga vxi cng,maruti,maruti ertiga,vxi cng,mumbai,1175000,0,dealer,partner,"['power steering', 'power windows front', 'air...","['power steering', 'power windows front', 'pow...","['air conditioner', 'heater', 'adjustable stee...","['adjustable head lights', 'power adjustable e...","['anti lock braking system', 'brake assist', '...",white,k15c,4.000,4.000,NaN,True,True,4395.000,1735.000,1690.000,2740.000,NaN,NaN,1250.000,1820.000,5 speed,2wd,7.000,NaN,5.200,disc,drum,NaN,NaN,tubeless radial,5.000,NaN,used,maharashtra,white,first,NaN,12.000,NaN,NaN,86.630,5500.000,121.500,4200.000,NaN,NaN

<h2 style="color: purple;">2.6 Checking for Missing Data</h2>

In [7]:
print(f'Total number of missing values: {df.isnull().sum().sum()}')

Total number of missing values: 282038

In [8]:
pd.set_option('display.max_rows', None)

# Calculate the number of missing values per column
missing_values = df.isnull().sum()

# Calculate the percentage of missing values per column
missing_percentage = (missing_values / len(df)) * 100

# Create a DataFrame to display the results
missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
})

# Sort the DataFrame by Missing Percentage in descending order
missing_info = missing_info.sort_values(by='Missing Percentage', ascending=False)

# Display the missing information
missing_info

                          Missing Values  Missing Percentage
Stroke                             37300              98.643
Ground Clearance Unladen           35661              94.309
Compression Ratio                  27801              73.522
Bore                               25177              66.583
Gross Weight                       20890              55.246
Rear Tread                         15875              41.983
Front Tread                        15874              41.980
Top Speed                          15352              40.600
Alloy Wheel Size                   14461              38.243
Acceleration                       13988              36.993
Kerb Weight                        13139              34.747
Valve Configuration                 7962              21.056
Cargo Volume                        6732              17.803
loc                                 5850              15.471
Turning Radius                      5848              15.466
Fuel Suppy System                   5502              14.551
Drive Type                          4497              11.893
Max Power At                        2247               5.942
Max Torque At                       1976               5.226
Engine Type                          868               2.296
Steering Type                        808               2.137
Wheel Base                           556               1.470
Gear Box                             471               1.246
Width                                371               0.981
Height                               363               0.960
Length                               362               0.957
Front Brake Type                     327               0.865
Rear Brake Type                      326               0.862
Tyre Type                            257               0.680
Max Torque Delivered                 231               0.611
Max Power Delivered                  231               0.611
Valves per Cylinder                  228               0.603
Color                                160               0.423
No of Cylinder                       143               0.378
exterior_color                       123               0.325
Doors                                 44               0.116
body                                  19               0.050
Seats                                 18               0.048
fuel                                   0               0.000
ip                                     0               0.000
images                                 0               0.000
owner_type                             0               0.000
transmission                           0               0.000
state                                  0               0.000
model_type_new                         0               0.000
imgCount                               0               0.000
myear                                  0               0.000
km                                     0               0.000
safety_features                        0               0.000
threesixty                             0               0.000
carType                                0               0.000
exterior_features                      0               0.000
interior_features                      0               0.000
Turbo Charger                          0               0.000
Super Charger                          0               0.000
comfort_features                       0               0.000
top_features                           0               0.000
utype                                  0               0.000
dvn                                    0               0.000
discountValue                          0               0.000
listed_price                           0               0.000
City                                   0               0.000
variant                                0               0.000
model                                  0               0.000
oem                                    0               0.000
usedCarSkuId                           0               0.000

<h2 style="color: purple;">2.7 Checking for Duplicate Data</h2>

In [9]:
print(f'There are {df.duplicated().sum()} duplicate rows in the dataset.')

There are 0 duplicate rows in the dataset.

<h2 style="color: purple;">2.8 Summary Statistics for Numeric Columns</h2>

In [10]:
pd.set_option('display.float_format', '{:.3f}'.format)
numeric_columns = df.select_dtypes(include='number')
numeric_columns.describe()

,myear,km,ip,imgCount,listed_price,discountValue,No of Cylinder,Valves per Cylinder,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Seats,Turning Radius,Top Speed,Acceleration,Doors,Cargo Volume,Compression Ratio,Alloy Wheel Size,Ground Clearance Unladen,Max Power Delivered,Max Power At,Max Torque Delivered,Max Torque At,Bore,Stroke
count,37813.000,37813.000,37813.000,37813.000,37813.000,37813.000,37670.000,37585.000,37451.000,37442.000,37450.000,37257.000,21939.000,21938.000,24674.000,16923.000,37795.000,31965.000,22461.000,23825.000,37769.000,31081.000,10012.000,23352.000,2152.000,37582.000,35566.000,37582.000,35837.000,12636.000,513.000
mean,2015.570,62409.297,0.010,15.571,799986.810,73.282,3.819,3.894,4113.623,1725.594,1577.555,2545.820,1470.019,1469.291,1146.357,1709.088,5.237,5.494,172.994,13.133,4.664,363.092,12.833,15.450,179.416,102.755,5102.916,178.772,3161.846,72.414,83.495
std,3.779,58472.162,0.101,8.358,3043044.881,2805.783,0.541,0.478,399.357,128.293,115.152,155.295,90.373,100.562,318.518,441.592,0.722,49.400,26.631,3.309,0.497,130.413,5.259,1.522,25.989,42.784,1056.280,106.353,1025.049,11.907,4.654
min,1983.000,101.000,0.000,0.000,11963.000,0.000,1.000,1.000,2752.000,1312.000,1165.000,1840.000,1143.000,15.000,451.000,785.000,0.000,3.500,70.000,2.500,2.000,20.000,4.170,7.000,91.000,10.800,1620.000,4.800,160.000,2.850,71.500
25%,2013.000,31739.000,0.000,10.000,320000.000,0.000,4.000,4.000,3795.000,1680.000,1495.000,2425.000,1420.000,1420.000,935.000,1350.000,5.000,4.800,156.000,11.070,4.000,256.000,10.100,14.000,178.000,74.960,4000.000,110.000,2125.000,69.600,82.500
50%,2016.000,56726.000,0.000,15.000,525000.000,0.000,4.000,4.000,3995.000,1710.000,1530.000,2520.000,1485.000,1493.000,1066.000,1595.000,5.000,5.100,168.560,13.200,5.000,350.000,10.500,16.000,190.000,88.500,5500.000,145.000,3375.000,73.000,85.000
75%,2018.000,83310.000,0.000,21.000,855272.000,0.000,4.000,4.000,4440.000,1790.000,1642.000,2647.000,1530.000,1525.000,1230.000,1967.500,5.000,5.300,189.000,14.850,5.000,465.000,16.200,16.000,192.000,118.350,6000.000,224.000,4000.000,76.500,85.800
max,2023.000,6300000.000,1.000,74.000,550000555.000,200000.000,16.000,48.000,5982.000,2236.000,2075.000,3772.000,1705.000,1834.000,2962.000,3490.000,14.000,6250.000,340.000,44.040,6.000,2055.000,81.000,21.000,213.000,769.310,8250.000,900.000,21800.000,165.000,104.900

<h2 style="color: purple;">2.9 Summary Statistics for Categorical Columns</h2>

In [11]:
non_numeric_columns = df.select_dtypes(exclude='number')
print("Non-Numeric Columns Summary:")
non_numeric_columns.describe(include='all')

Non-Numeric Columns Summary:

,usedCarSkuId,loc,body,transmission,fuel,images,threesixty,dvn,oem,model,variant,City,utype,carType,top_features,comfort_features,interior_features,exterior_features,safety_features,Color,Engine Type,Valve Configuration,Turbo Charger,Super Charger,Gear Box,Drive Type,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,model_type_new,state,exterior_color,owner_type,Fuel Suppy System
count,37813,31963,37794,37813,37813,37813,37813,37813,37813,37813,37813,37813,37813,37813,37813,37813,37813,37813,37813,37653,36945,29851,37813,37813,37342,33316,37005,37486,37487,37556,37813,37813,37690,37813,32311
unique,37813,397,11,2,5,37135,2,4128,46,382,3430,617,2,3,400,2016,527,1893,2116,747,566,5,2,2,11,6,2,6,6,4,1,33,747,6,14
top,7111bf25-97af-47f9-867b-40879190d800,pune city,hatchback,manual,petrol,[{'img': ''}],False,maruti swift vxi,maruti,honda city,vxi,new delhi,dealer,partner,"['power steering', 'power windows front', 'air...","['power steering', 'power windows front', 'pow...","['air conditioner', 'heater', 'adjustable stee...","['adjustable head lights', 'fog lights front',...","['anti lock braking system', 'centeral locking...",white,in-line engine,dohc,False,False,5 speed,fwd,power,disc,drum,tubeless radial,used,maharashtra,white,first,Multi-Point Fuel Injection
freq,1,3483,15053,28894,21773,679,30333,347,9950,1911,1233,4969,31963,32512,6974,573,2745,434,718,10059,3370,23571,20247,20247,25203,27632,36348,23334,29973,29108,37813,8628,10067,26571,14055

<h1 style="color: brown;">3. Preprocessing </h1>

<h2 style="color: purple;">3.1 Dropping Unnecessary Columns</h2>

In [12]:
# Removing columns that seems unnecessary to predict listed_price

df = df.drop(columns = ['usedCarSkuId','loc','myear','ip','images','imgCount','threesixty','dvn', 'oem', 'model',
                        'variant', 'City','state', 'top_features', 'comfort_features','interior_features',
                        'exterior_features', 'safety_features', 'Color', 'exterior_color'])

# Removing columns with more than 1000 missing values. keeping columns with less than 5 missing value percentage.

df = df.drop(columns = ['Stroke','Ground Clearance Unladen','Compression Ratio','Bore','Gross Weight','Rear Tread','Front Tread',
                        'Top Speed', 'Alloy Wheel Size', 'Acceleration',
                        'Kerb Weight', 'Valve Configuration','Cargo Volume', 'Turning Radius', 'Fuel Suppy System','Drive Type',
                        'Max Power At', 'Max Torque At'])

# Engine Type has 507 uniquq Categorical values so removing that column. Plus model_type_new has only one value used. so all cars are used so doesnt make sense to use the column hence removing it too

df = df.drop(columns = ['Engine Type', 'model_type_new'])

<h2 style="color: purple;">3.2 Dropping Null Values</h2>

In [13]:
df = df.dropna()

<h2 style="color: purple;">3.3 Displaying Frequency of Categorical Data</h2>

In [14]:
non_numeric_columns = df.select_dtypes(exclude='number')
for col in non_numeric_columns:
    # Get value counts
    value_counts = df[col].value_counts()

    # Display with a numbered list
    print(f"\nValue counts for {col}:")
    for idx, (value, count) in enumerate(value_counts.items(), start=1):
        print(f"{idx}. {value}: {count}")
    print("-" * 50)

Value counts for body:
1. hatchback: 14370
2. sedan: 10285
3. suv: 9128
4. muv: 1627
5. minivans: 360
6. luxury vehicles: 68
7. pickup trucks: 36
8. convertibles: 22
9. coupe: 13
10. wagon: 7
11. hybrids: 4
--------------------------------------------------

Value counts for transmission:
1. manual: 27621
2. automatic: 8299
--------------------------------------------------

Value counts for fuel:
1. petrol: 20503
2. diesel: 14196
3. cng: 996
4. lpg: 197
5. electric: 28
--------------------------------------------------

Value counts for utype:
1. dealer: 30536
2. individual: 5384
--------------------------------------------------

Value counts for carType:
1. partner: 30909
2. corporate: 4988
3. assured: 23
--------------------------------------------------

Value counts for Turbo Charger:
1. False: 19849
2. True: 16071
--------------------------------------------------

Value counts for Super Charger:
1. False: 19849
2. True: 16071
--------------------------------------------------

Value counts for Gear Box:
1. 5 speed: 24445
2. 6 speed: 6993
3. 7 speed: 1798
4. 8 speed: 1078
5. 4 speed: 730
6. cvt: 474
7. 9 speed: 374
8. direct drive: 11
9. 10 speed: 9
10. fully automatic: 8
--------------------------------------------------

Value counts for Steering Type:
1. power: 35293
2. manual: 627
--------------------------------------------------

Value counts for Front Brake Type:
1. disc: 22065
2. ventilated disc: 13466
3. caliper: 312
4. drum: 67
5. disc & drum: 10
--------------------------------------------------

Value counts for Rear Brake Type:
1. drum: 28971
2. disc: 5682
3. ventilated disc: 897
4. caliper: 310
5. disc & drum: 60
--------------------------------------------------

Value counts for Tyre Type:
1. tubeless radial: 27691
2. tubeless: 7975
3. runflat: 250
4. tube: 4
--------------------------------------------------

Value counts for owner_type:
1. first: 25102
2. second: 8450
3. third: 1889
4. fourth: 417
5. fifth: 53
6. unregistered car: 9
--------------------------------------------------

<h2 style="color: purple;">3.4 Preprocessing Non-Numeric Columns for Machine Learning</h2>

In [15]:
# Define LabelEncoder
label_encoder = LabelEncoder()

# Iterate over the non-numeric columns
for col in non_numeric_columns:
    # Get the number of unique values in the column
    unique_values_count = df[col].nunique()

    if unique_values_count == 2:
        # Apply Label Encoding for columns with 2 unique values
        df[col] = label_encoder.fit_transform(df[col])

        # Display the mapping of label encoding
        print(f"\nLabel Encoding for column '{col}':")
        mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
        print(f"  {mapping}")
    elif unique_values_count >= 3:
        # Apply One-Hot Encoding for columns with 3 or more unique values
        df_encoded = pd.get_dummies(df[col], prefix=col, dtype=int)

        # Drop the original column and replace it with the One-Hot Encoded columns
        df = df.drop(columns=[col])
        df = pd.concat([df, df_encoded], axis=1)

        print(f"\nOne-Hot Encoding applied to column '{col}':")
        print(f"  Created columns: {list(df_encoded.columns)}")

One-Hot Encoding applied to column 'body':
  Created columns: ['body_convertibles', 'body_coupe', 'body_hatchback', 'body_hybrids', 'body_luxury vehicles', 'body_minivans', 'body_muv', 'body_pickup trucks', 'body_sedan', 'body_suv', 'body_wagon']

Label Encoding for column 'transmission':
  {'automatic': 0, 'manual': 1}

One-Hot Encoding applied to column 'fuel':
  Created columns: ['fuel_cng', 'fuel_diesel', 'fuel_electric', 'fuel_lpg', 'fuel_petrol']

Label Encoding for column 'utype':
  {'dealer': 0, 'individual': 1}

One-Hot Encoding applied to column 'carType':
  Created columns: ['carType_assured', 'carType_corporate', 'carType_partner']

Label Encoding for column 'Turbo Charger':
  {False: 0, True: 1}

Label Encoding for column 'Super Charger':
  {False: 0, True: 1}

One-Hot Encoding applied to column 'Gear Box':
  Created columns: ['Gear Box_10 speed', 'Gear Box_4 speed', 'Gear Box_5 speed', 'Gear Box_6 speed', 'Gear Box_7 speed', 'Gear Box_8 speed', 'Gear Box_9 speed', 'Gear Box_cvt', 'Gear Box_direct drive', 'Gear Box_fully automatic']

Label Encoding for column 'Steering Type':
  {'manual': 0, 'power': 1}

One-Hot Encoding applied to column 'Front Brake Type':
  Created columns: ['Front Brake Type_caliper', 'Front Brake Type_disc', 'Front Brake Type_disc & drum', 'Front Brake Type_drum', 'Front Brake Type_ventilated disc']

One-Hot Encoding applied to column 'Rear Brake Type':
  Created columns: ['Rear Brake Type_caliper', 'Rear Brake Type_disc', 'Rear Brake Type_disc & drum', 'Rear Brake Type_drum', 'Rear Brake Type_ventilated disc']

One-Hot Encoding applied to column 'Tyre Type':
  Created columns: ['Tyre Type_runflat', 'Tyre Type_tube', 'Tyre Type_tubeless', 'Tyre Type_tubeless radial']

One-Hot Encoding applied to column 'owner_type':
  Created columns: ['owner_type_fifth', 'owner_type_first', 'owner_type_fourth', 'owner_type_second', 'owner_type_third', 'owner_type_unregistered car']

From here I guess make two version of the code. Use minmax scaler in one and then standard scaler in another.

<h1 style="color: brown;">4. Development and Assessment of Models</h1>

<h2 style="color: purple;">4.1 Splitting Features and Target Variable</h2>

In [16]:
X = df.drop(columns=['listed_price'])
y = df['listed_price']

<h2 style="color: purple;">4.2 Splitting Data into Training and Test Sets</h2>

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

<h2 style="color: purple;">4.3 Scaling Features using StandardScaler</h2>

In [18]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

<h1 style="color: brown;">5. Evaluating Models and Measuring Performance</h1>

<h2 style="color: purple;">5.1 Finding the Best Model</h2>

In [19]:
model_list = [
    LinearRegression(),
    DecisionTreeRegressor(random_state=42),
    RandomForestRegressor(random_state=42),
    GradientBoostingRegressor(random_state=42),
    AdaBoostRegressor(random_state=42),
    SVR(),
    GaussianProcessRegressor(),
    KNeighborsRegressor(),
]

results = []

for model in model_list:
    model.fit(X_train_scaled, y_train)
    preds = model.predict(X_test_scaled)
    r2 = r2_score(y_test, preds)
    mse = mean_squared_error(y_test, preds)
    mae = mean_absolute_error(y_test, preds)
    rmse = np.sqrt(mse)
    results.append((model.__class__.__name__, r2, mae, mse, rmse))

# Display results
import pandas as pd
df_results = pd.DataFrame(results, columns=["Model", "R2", "MAE", "MSE", "RMSE"])
df_results = df_results.sort_values(by="R2", ascending=False)
print(df_results)

                       Model             R2           MAE  \
0           LinearRegression          0.383    283181.906
3  GradientBoostingRegressor          0.364    235127.150
4          AdaBoostRegressor          0.215    353363.379
5                        SVR         -0.036    456272.999
2      RandomForestRegressor         -4.799    173370.518
7        KNeighborsRegressor         -6.937    275845.520
1      DecisionTreeRegressor        -16.277    224233.215
6   GaussianProcessRegressor -122034422.897 184793023.962

                        MSE            RMSE
0         1030930223352.652     1015347.341
3         1062357625128.536     1030707.342
4         1310722983257.023     1144868.107
5         1730710887106.343     1315564.855
2         9686495420234.254     3112313.516
7        13258625384486.033     3641239.540
1        28860562299379.090     5372202.742
6 203850109919668633600.000 14277608690.522

In [20]:
best_model_name = df_results.iloc[0]["Model"]
print(f"Best model based on R2: {best_model_name}")

Best model based on R2: LinearRegression

<h2 style="color: purple;">5.2 Manual Grid Search for Best Hyperparameters</h2>

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import numpy as np

# Optional: split again for manual validation
X_subtrain, X_val, y_subtrain, y_val = train_test_split(X_train_scaled, y_train, test_size=0.2, random_state=42)

param_grid = {
    'fit_intercept': [True],
    'positive': [False]  # Only available in newer versions of scikit-learn (>=0.24)
}

best_score = -np.inf
best_params = None

from itertools import product

for combo in product(*param_grid.values()):
    params = dict(zip(param_grid.keys(), combo))
    model = LinearRegression(**params)
    model.fit(X_subtrain, y_subtrain)
    preds = model.predict(X_val)
    score = r2_score(y_val, preds)
    if score > best_score:
        best_score = score
        best_params = params

print("Best hyperparameters for LinearRegression:", best_params)

Best hyperparameters for LinearRegression: {'fit_intercept': True, 'positive': False}

<h2 style="color: purple;">5.3 Cross-Validation Evaluation</h2>

In [22]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression
import numpy as np

# Best parameters you found earlier
best_params = {
    'fit_intercept': True,
    'positive': False
}

# Initialize final model
final_model = LinearRegression(**best_params)

# Define scoring metrics
scoring = {
    'r2': 'r2',
    'neg_mae': 'neg_mean_absolute_error',
    'neg_mse': 'neg_mean_squared_error'
}

# Perform cross-validation
cv_results = cross_validate(final_model, X_train_scaled, y_train, cv=5, scoring=scoring)

# Extract scores
r2_scores = cv_results['test_r2']
mae_scores = -cv_results['test_neg_mae']
mse_scores = -cv_results['test_neg_mse']
rmse_scores = np.sqrt(mse_scores)

# Print individual and mean scores
print("CV R scores:", r2_scores)
print("Mean CV R:", np.mean(r2_scores))

print("CV MAE scores:", mae_scores)
print("Mean CV MAE:", np.mean(mae_scores))

print("CV MSE scores:", mse_scores)
print("Mean CV MSE:", np.mean(mse_scores))

print("CV RMSE scores:", rmse_scores)
print("Mean CV RMSE:", np.mean(rmse_scores))

CV R scores: [0.52899465 0.62090071 0.72406347 0.00864679 0.65061223]
Mean CV R: 0.5066435682820298
CV MAE scores: [287500.39491535 291651.29070771 260844.47730884 350067.02820052
 273742.71572782]
Mean CV MAE: 292761.18137204845
CV MSE scores: [4.36980802e+11 3.16180857e+11 1.90470098e+11 6.01849882e+13
 2.97880866e+11]
Mean CV MSE: 12285300157644.863
CV RMSE scores: [ 661045.23408946  562299.61536422  436428.8009229  7757898.4373765
  545784.63366916]
Mean CV RMSE: 1992691.344284448

<h2 style="color: purple;">5.4 Final Model Training and Test Set Evaluation</h2>

In [23]:
# Retrain on the full training data
final_model.fit(X_train_scaled, y_train)
# Predict on the test data
y_test_preds = final_model.predict(X_test_scaled)
def regression_report(y_true, y_pred):
    print("Regression Report:")
    print(f"MAE:  {mean_absolute_error(y_true, y_pred):.4f}")
    print(f"MSE:  {mean_squared_error(y_true, y_pred):.4f}")
    print(f"RMSE: {np.sqrt(mean_squared_error(y_true, y_pred)):.4f}")
    print(f"R:   {r2_score(y_true, y_pred):.4f}")
    
# Usage
regression_report(y_test, y_test_preds)

Regression Report:
MAE:  283181.9063
MSE:  1030930223352.6522
RMSE: 1015347.3412
R:   0.3828